<html>

<head>
    <style>
        body{
            text-align: center;
            background-color: rgba(58, 58, 134, 0.386);
        }
    a{
        display: inline-block;
        padding: 10px 20px;
        background-color: rgb(52, 55, 52);
        color: #ffffff;
        text-decoration: none;
        border-radius: 5px;
        margin-bottom: 10px;
        font-size: 18px;
        margin-top: 5px;

     }
     table{
        margin-left: 580px;
        margin-top: 80px;
     }
     td a{
        display: inline-block;
        padding: 9px 12px;
        background-color: rgb(42, 45, 42);
        color: #ffffff;
        text-decoration: none;
        border-radius: 3px;
        margin-bottom: 8px;
        margin-top: 5px;
        font-size: 16px;
        height: 15px;

     }
     th, td{
        border: 2px solid black;
        padding: 5px;
        text-align: center;
        font-size: 18px;
     }
     h3{
            color: rgb(140, 225, 140);
            text-align: center;
            font-size: 45px;
            background-color: rgb(23, 5, 12);
         }
    </style>
</head>

<body>
    <h3>All Products</h3>
   


    <table border="2" width="500" cellspacing="0" cellpadding="5" >

        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Categories</th>
            <th>ProductDetails</th>
        </tr>

        <% for(let item of productArray) { %>
            <tr>
                <td>
                    <%=item.pid%>
                </td>
                <td>
                    <%=item.pname%>
                </td>
                <td>
                    <%=item.price%>
                </td>
                <td>
                  <%=item.quantity%>
              </td>
              <td>
                <%=item.categories%>
            </td>
                <td>
                    <a href="/prd/GetDeptById/<%=item.pid%>">Details</a> 
                </td>
            </tr>
            <% } %>

    </table>
    
    <a href="/">Back to Home</a>    
</body>

</html>